 
 .CalendarDetails summary {
     color: var(--gray30);
     font: var(--body1-medium);
     margin-block-end: 0.625rem;
 }

 .CalendarDetails-task {
    display: flex;
    color: var(--gray30);
    font: var(--body1-regular);
    gap: 0.25rem;
    align-items: center;
 }

 .CalendarDetails-task i {
     font-size: 1.5rem;
 }