.currentTime {
    block-size: 2px;
    inline-size: 5rem;
    background: var(--red10);
    position: absolute;
    inset-block-start: 280px;
    inset-inline-start: 320px;
    z-index: 2;
}

.currentTime::before {
   content: "";
   inline-size: 1rem;
   block-size: 1rem;
   background: var(--red10); 
   display: inline-block;
   border-radius: 50%;
   transform: translateY(-50%);
}

.currentTime.daily { 
    display: flex;
    inline-size: calc(100% - 3rem);
}

 